<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <spaceTime>30</spaceTime>
  <defaultKey>0</defaultKey>
  <minGongFaCanUseLevel>25</minGongFaCanUseLevel>
  <usingGongFaEffect>true</usingGongFaEffect>
  <myVIPGongFa />
  <myConfirmedGongFa />
</Settings>